<ion-header>
  <ion-toolbar>
  <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true"   >
  <form action="">
    <ion-item lines="full">
      <ion-label position="floating">Téléphone</ion-label>
      <ion-input type="tel" required [(ngModel)]="phoneNumber" name="phoneNumer"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input type="password" required [(ngModel)]="password" name="password"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-button expand="block" color="success" (click)="onLogin()" [disabled]="loading">
          <span *ngIf="!loading">Connexion</span>
          <ion-spinner *ngIf="loading" name="lines"></ion-spinner>
        </ion-button>
        <a [routerLink]="['/register']">Inscrivez Vous!</a>
        <ion-text color="danger" *ngIf="errorMsg.length">
          <div>{{errorMsg}}</div> 
        </ion-text>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
