<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Historique</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="closeHistoryModal()">
        <ion-icon name="close-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>
            <h5>Depot</h5>
            <p>Apr 07,17:55</p>
          </ion-label>
          <ion-badge color="success">10000F</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>
            <h5>Retrait</h5>
            <p>Apr 07,17:55</p>
          </ion-label>
          <ion-badge color="danger">1000F</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>
            <h5>Facture SEN'EAU</h5>
            <p>Apr 07,17:55</p>
          </ion-label>
          <ion-badge color="danger">500F</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>
            <h5>Credit Jean 774688435</h5>
            <p>Apr 07,17:55</p>
          </ion-label>
          <ion-badge color="danger">500F</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>
            <h5>Envoie Paul 774586743</h5>
            <p>Apr 07,17:55</p>
          </ion-label>
          <ion-badge color="danger">99F</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>
            <h5>Facture SEN'EAU</h5>
            <p>Apr 07,17:55</p>
          </ion-label>
          <ion-badge color="danger">500F</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>
            <h5>Depot</h5>
            <p>Apr 07,17:55</p>
          </ion-label>
          <ion-badge color="success">10000F</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>
            <h5>Retrait</h5>
            <p>Apr 07,17:55</p>
          </ion-label>
          <ion-badge color="danger">1000F</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>
            <h5>Facture SEN'EAU</h5>
            <p>Apr 07,17:55</p>
          </ion-label>
          <ion-badge color="danger">500F</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>
            <h5>Credit Jean 774688435</h5>
            <p>Apr 07,17:55</p>
          </ion-label>
          <ion-badge color="danger">500F</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>
            <h5>Depot</h5>
            <p>Apr 07,17:55</p>
          </ion-label>
          <ion-badge color="success">10000F</ion-badge>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
