<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Envoyer de l'Argent
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Envoyer de l'Argent</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-label position="floating" color="primary">À {{selectedContact.name}}</ion-label>
      <ion-input color="primary" inputmode="tel" [(ngModel)]="selectedContact.number" (ionChange)="selectedContactChange($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Montant Envoyé</ion-label>
      <ion-input color="primary" inputmode="decimal"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Montant Reçu</ion-label>
      <ion-input color="primary" inputmode="decimal"></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="testContact()">Envoyer</ion-button>
    <ion-list-header>
      <ion-label>Contacts</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let contact of contacts" click>
      <ion-avatar slot="start">
        <img src="assets/operators/orange.png">
      </ion-avatar>
      <ion-label>
        <h3>{{contact.name}}</h3>
        <p>{{contact.number}}</p>
      </ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>
