<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tranférer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form style="margin: auto;">
    <ion-item lines="full">
      <ion-label position="floating">À </ion-label>
      <ion-input type="tel" name="phoneNumber" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Montant Envoyé</ion-label>
      <ion-input type="number" name="amount"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Montant Reçu</ion-label>
      <ion-input typ="number" name="amountRec"> </ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button expand="block">Envoyer</ion-button>
      </ion-col>
    </ion-row>
  </form>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
