<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tranférer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form style="margin: auto;">
    <ion-item lines="full">
      <ion-label position="floating">
        À <ion-text color="tertiary"><span>{{contact.name}}</span></ion-text>
      </ion-label>
      <ion-input type="tel" name="phoneNumber" required maxLength="9" [(ngModel)]="contact.phoneNumber" color="tertiary" (ionChange)="onNumberChange()"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Montant Envoyé</ion-label>
      <ion-input type="number" name="amount" required="true" [(ngModel)]="amount" (ionChange)="onAmountChange()"></ion-input>
    </ion-item>
    <ion-item lines="full" *ngIf="amountRec">
      <ion-label position="floating">Montant Reçu</ion-label>
      <ion-input typ="number" name="amountRec" readonly="true" [(ngModel)]="amountRec"color="success" ></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button expand="block" [disabled]="amount >= client.balance || !amount || loading || !contact.isValid() || onOperate || loadingAmount" (click)="onSend()">
          <span *ngIf="!loading || !onOperate">Envoyer</span>
          <ion-spinner *ngIf="loading" name="lines"></ion-spinner>
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button color="secondary" (click)="onShowContacts()" [disabled]="loading || onOperate">
      <ion-icon name="person-add-outline" *ngIf="!loading && !onOperate"></ion-icon>
      <ion-spinner *ngIf="loading || onOperate" name="lines"></ion-spinner>
    </ion-fab-button>
  </ion-fab>
  <ion-row *ngIf="amount >= client.balance">
    <ion-col style="text-align: center;">
      <ion-text color="danger">
        <div>Ce montant ne peut être envoyé</div>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-content>
