<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title  color="primary">0F</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color="primary">0F</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div style="text-align: center;border: 1px #3880ff solid;background-color: #3880ff;padding-top: 4px;border-radius: 15px;width: 96%;margin: auto;margin-top: 5px;" (click)="showCardModal()">
    <qrcode [qrdata]="'Your data string'" [width]="160" [errorCorrectionLevel]="'M'"></qrcode>
  </div>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-list-header>
          <ion-label><h1>Historique</h1></ion-label>
          <ion-button fill="outline" (click)="showHistoryModal()">Tout voir</ion-button>
        </ion-list-header>
        <ion-item>
          <ion-label>
            <h5>Depot</h5>
            <p>Apr 07,17:55</p>
          </ion-label>
          <ion-badge color="success">10000F</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>
            <h5>Retrait</h5>
            <p>Apr 07,17:55</p>
          </ion-label>
          <ion-badge color="danger">1000F</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>
            <h5>Facture SEN'EAU</h5>
            <p>Apr 07,17:55</p>
          </ion-label>
          <ion-badge color="danger">500F</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>
            <h5>Credit Jean 774688435</h5>
            <p>Apr 07,17:55</p>
          </ion-label>
          <ion-badge color="danger">500F</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>
            <h5>Envoie Paul 774586743</h5>
            <p>Apr 07,17:55</p>
          </ion-label>
          <ion-badge color="danger">99F</ion-badge>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
 
  

</ion-content>
