
<ion-content color="primary">
  <div style="height: 100%;text-align: center;">
    <ion-card style="margin: auto;margin-top: 50%;width: 90%;">
      <ion-card-header>
        <ion-card-title>PIN</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-input 
          type="password" 
          placeholder="Enter votre code" 
          [autofocus]="true"
          [maxlength]="8"
          [required]="true"
          [(ngModel)]="pin"
          [disabled]= "lock"
          [readonly]="lock" 
          (ionChange)="pinChange()"></ion-input>
      </ion-card-content>
    </ion-card>
  </div>
    
</ion-content>
